*{
	margin: 0;
	padding: 0;
	position: relative;
}
input#inlineFormInputGroup::placeholder{
	color: #b2b2b2;
}
.maindiv{
	max-width: 425px;
	margin: 0 auto;

}
.mainformbox {
    background-image: url(../images/mainbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 50px 100px;
}

.mainform2 {
    background-image: url(../images/firstpage/popbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 30px;
}

.mainform2 h2 {
    font-size: 14px;
    font-weight: 600;
    color: #c5a88c;
    text-transform: capitalize;
    padding-top: 83px;
    padding-bottom: 6px;
    /* line-height: 32px; */
}
.mainform2 p {
    color: #cacaca;
    font-size: 10px;
    line-height: 6px;
    margin-bottom: 10px;
}
button.btn1 {
    background-image: url(../images/firstpage/button1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
    width: 235px;
    height: 45px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 4px;
}
button.btn2 {
    background-image: url(../images/firstpage/button2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
    width: 235px;
    height: 45px;
    color: #c5a88c;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 4px;
    margin-bottom: 80px;
    margin-top: 10px;
}
.navsection{
    background-color: black;
    color: white;
    padding: 20px 0 15px 0;
    text-align: center;
}
.navsection h4{
    font-size: 18px
}

/*page2*/
.mainform2 a{
    text-decoration: none;
    color: white;
}
.mainform23 {
    background-image: url(../images/secondpage/popbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0 0 70px;
}

.mainform23 h3 {
    color: #d4b372;
    font-size: 16px;
}
button.btn3 {
    background-image: url(../images/secondpage/fb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
    width: 235px;
    height: 56px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 4px;
		padding-left: 15px;
    margin-top: 25px;
}
#btn_top{
	margin-top: 10px;
	margin-bottom: -1px
}
.myradius {
    background: #ffffff2b;
    border: none;
    border-radius: 20px;
    padding: 3px 0;
    margin: 0 32px;
}
.mainform23 p {
    /* margin-top: 38px; */
    margin-bottom: 0;
    font-size: 18px;
    padding-top: 90px;
}
.input-group-prepend {
    background: transparent;
}
input#inlineFormInputGroup {
    background: transparent;
    border: none;
    padding: 0;
    padding-bottom: 5px;
}
input#inlineFormInputGroup::placeholder{
    color: white;
    font-size: 12px;
}
.input-group-text {
    background: transparent;
    border: none;
    color: white;
}
.myradius .form-control:focus {

    box-shadow: none;
}
button.btn4{
    background-image: url(../images/secondpage/next.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 200px;
    height: 40px;
    background-color: transparent;
    margin-top: 20px;
    color: white;
		padding-bottom: 4px;
		font-size: 14px;
}
button.banglabtn4 {
    padding-bottom: 1px;
    font-size: 12px;
}
svg.right-arrow{
	margin-left: 5px;
	padding-top: 4px;
}


/*page 3*/
.mianformbox3 {
    background-image: url(../images/mainbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 71px 80px;
}
.mainform3 {
    background-image: url(../images/page3/popbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 25px 0px;
}
.mainform3 label{
    color: white;
    margin-left: 15px;
}
.mainform3 input, .mainform3 select {
    background-color: #ffffff2b;
    border-radius: 13px;
    border: none;
    color: #ccc;
    font-size: 11px;
    margin-top: -5px;
    margin-bottom: 0px;
}
.mainform3 input::placeholder{
     color: #ccc;
}
.mainform3 input:focus{
    background-color: #ffffff2b;
    box-shadow: none;
    outline: none;
    color: #ccc;
}
.mainform3 .form-group{
    width: 100%;
		margin-bottom: 0px;
}
.mainform3 .form-row{
    margin-left: 0;
}
.mylebel label{
    margin-left: 30px;
}
.grouprow {
    padding: 0 17px 0 13px;
}
.grouprow .form-group{
    padding: 0 2px;
}
.grouprow select:focus{
    background-color: #ffffff2b;
     box-shadow: none;
    outline: none;
    color: #ccc;
}
.grouprow select option{

}
.brandselect select:focus{
    background-color: #ffffff2b;
     box-shadow: none;
    outline: none;
    color: #ccc;
}
button.btn5 {
    background-image: url(../images/page3/next.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 200px;
    height: 40px;
    background-color: transparent;
    color: white;
    margin-top: 7px;
    padding-bottom: 4px;
}

button.banglabtn5 {
    font-size: 12px;
}
.mainform3 input::placeholder{
	color: #b2b2b2;
}
.mainform3 label {
    color: #c5a88c;
    font-size: 14px;
    margin-top: 3px;
}
.banglamainform3 label {
    color: #c5a88c;
    font-size: 12px;
    margin-top: 3px;
}
.myradius3 {
    background: #ffffff2b;
    border: none;
    border-radius: 13px;
    padding: 4px 8px;
    margin: -6px 0;
    width: 100%;
    margin-bottom: 4px;
}

input#phone {
    background: transparent;
    border: none;
    padding-bottom: 3px;
    padding: 7px 0px 0px 3px;
}
.email_label label {
    margin-top: 5px;
}
/*page 4*/

.mainpage4 {
    background-image: url(../images/mainbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 144px 50px 170px;
}
.page-4 {
    background-image: url(../images/page4/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 35px;
}
.mainform2 .home4{
padding-top: 14px;
font-size: 16px;
}
.mainform2 .banglahome4  {
    padding-top: 14px;
    font-size: 14px;
}
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    margin-top: 20px;

    padding-bottom: 30px;
}
.form-check-label {
    margin-bottom: 0;
    color: #b2b2b2;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}
.banglaform-check-label {
    font-size: 10px;
}

button.chectbtn{
	background-image: url(../images/page3/next.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
	width: 200px;
	height: 40px;
	background-color: transparent;
	color: white;
	padding-bottom: 5px;
}
/*page 5*/
.mainpage5 {
    background-image: url(../images/mainbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 144px 62px 170px;
}
.page-5 {
    background-image: url(../images/page5/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 20px 30px;
}
.mainform2 .home5 {
    padding-top: 30px;
    font-size: 16px;
    margin-bottom: 15px;
}
.mainform2 .banglahome5 {
    font-size: 14px;

}
.sign_here {
    margin-bottom: 25px;
		padding: 0 10px;
}
.btnpage5{

}
button.resetbtnpage5{
     background-image: url(../images/page5/reset.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 105px;
    height: 40px;
    background-color: transparent;
    color: white;
		padding-bottom: 5px;
		font-size: 14px;
}
button.nextbtnpage5{
	background-image: url(../images/page6/btn6.png);
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;
 border: none;
 width: 105px;
 height: 40px;
 background-color: transparent;
padding-bottom: 5px;
 color: white;
 font-size: 14px;
}


/*page 6*/
.mianformbox6 {
    background-image: url(../images/page6/bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    padding: 129px 65px 149px;
}
.mainform6 {
    background-image: url(../images/page6/bg6.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding: 10px 0px;
}
.mainform6 .retaillerlabel {
    color: #c5a88c;
    margin-left: 15px;
    margin-top: 15px;
}
.mainform6 .banglaretaillerlabel {
    font-size: 12px;
}
.form_pera{
    text-align: center;
  margin-top: 20px;
}
.form_pera p{
    color: #c5a88c;
    font-size: 12px;

}

.metextarea textarea{
    border-radius: 15px;
}
button.resetbtn{
     background-image: url(../images/page5/reset.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 115px;
    height: 40px;
    background-color: transparent;
font-size: 14px;
    color: white;
		padding-bottom: 5px;
}
button.nextbtn{
     background-image: url(../images/page6/btn6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 115px;
    height: 40px;
    background-color: transparent;
    color: white;
		margin-left: -3px;
		font-size: 14px;
		padding-bottom: 5px;
}
button.banglabtn {
    font-size: 12px;
    padding-bottom: 0px;
}
.page6nav{
    margin-top: -50px;
}
.page6input{
    /*margin: 0 30px;*/
}

.myradius6 {
    background: #ffffff2b;
    border: none;
    border-radius: 13px;
    padding: 5px 0 0px 8px;
    margin: -6px 0;
    width: 100%;
    margin-bottom: 15px;
}
input#retailerid {
    background: transparent;
    border: none;
    padding: 0;
    padding-bottom: 0px;
}
.mainform6 label {
    color: #c5a88c;
    margin-left: 15px;
    margin-top: 5px;
}
.banglamainform6 label {
    font-size: 12px;
}

..mainform6 input::placeholder{
	color: #b2b2b2
	}

.form-group .page6input {
    margin-top: -17px;
}
.metextarea{
    padding: 0 10px;
    border-radius: 15px;
}
.page6btn {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0 12px;
}
.page6inputm {
    width: 100%;
    margin-bottom: 0px;
    margin-top: -10px;
}


/*page7*/
.rotatediv{
    height: 100%;
    width: 650px;
    margin: 0 auto;
    overflow: hidden;
		background-color: #000;
}
.topbar{
    background-image: url(../images/page7/bgred.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 0;
}
.topbar p{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
}
.video_sect video{
    width: 100%;
}
.navsection.page7nav {
    margin-top: 0px;
}
/*page8*/
button.p6resetbtn, button.p6nextbtn {
    background-image: url(../images/page8/bt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 110px;
    height: 50px;
    background-color: transparent;
    font-size: 10px;
    color: #c5a88c;
}
.mainformbox8 {
    background-image: url(../images/page6/bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 230px 55px 200px;
}
.mainform8 {
    background-image: url(../images/page8/app8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 30px;
}

.mainform8 h2 {
  font-size: 12px;
    font-weight: 600;
    color: #cececd;
    padding-top: 5px;
    padding-bottom: 15px;
    / line-height: 32px; /
}

.banglamainform8 h2 {
    font-size: 11px;
}
.p8btbngrp{
    margin-bottom: 0;
}

/*page 10*/
.mainformbox10 {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    padding: 223px 45px 185px;
}
.p10btbngrp{

}
button.p10resetbtn, button.p10nextbtn {
    background-image: url(../images/page8/bt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 110px;
    height: 50px;
    background-color: transparent;
    font-size: 12px;
    color: #c5a88c;
		padding-bottom: 5px;
}
.mainform10 {
    background-image: url(../images/page8/app8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 30px;
}
.mainform10 h2 {
	font-size: 12px;
		font-weight: 600;
		color: #cececd;
    padding-top: 4px;
    padding-bottom: 4px;
    / line-height: 32px; /
}
button.btnpage10{
    background-image: url(../images/secondpage/next.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 200px;
    height: 40px;
    background-color: transparent;
    margin-top: 0px;
    color: white;
		padding-bottom: 4px;
		font-size: 14px;
		margin-top: -5px;
}

.mainformbox11 {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    padding: 285px 45px 190px;
}
.mainform11 {
    background-image: url(../images/page8/app8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 27px 15px;
}
.mainform11 h2 {
    font-size: 14px;
    font-weight: 600;
    color: #c5a88c;
    padding-top: 10px;

}
button.btnpage11 {
    background-image: url(../images/secondpage/next.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 110px;
    height: 40px;
    background-color: transparent;
    margin-top: 0px;
    color: white;
    padding-bottom: 4px;
    font-size: 14px;
    margin-top: 0px;
}
button.banglabtnpage11 {
    padding-bottom: 1px;
    font-size: 12px;
    margin-top: 0px;
}
input#inlineFormInputGroup::placeholder{
	color: #b2b2b2;
}
button.btnpage5bangla {
    font-size: 12px;
		padding-bottom: 0px;
}
svg.banglaright-arrow{
	margin-left: 5px;
	padding-top: 0px;
}
